.container {
  margin-left: 0;
}

.scrolling-wrapper-horizontal {
  overflow-x: auto;
}

.scrolling-wrapper-vertical {
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin-right: 0;
  max-width: 100%;
}
