<!-- <nav
  class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top"
>
  <div class="container-fluid">
    <span class="btn" id="menu-toggle" (click)="toggleMenu($event)">
      <i class="material-icons">menu</i>
    </span>
  </div>
</nav> -->

<div class="d-flex {{ toggled }}" id="wrapper">
  <!-- Sidebar -->
  <div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Educate</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action border-0">Dashboard</a>
      <a class="list-group-item list-group-item-action border-0">Shortcuts</a>
      <a class="list-group-item list-group-item-action border-0">Overview</a>
      <a class="list-group-item list-group-item-action border-0">Events</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg border-bottom">
      <span class="btn" (click)="toggleMenu($event)">
        <i class="material-icons">menu</i>
      </span>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- /#wrapper -->
