<div class="container border-rounded background-color-light-gray m-3 ms-0">
  <div class="row">
    <h6 class="text-bold mt-3 text-small">{{ courseName }}</h6>
    <p class="text-bold mb-3">{{ announcementTitle }}</p>
    <div
      class="
        row
        scrolling-wrapper-vertical
        flex-column flex-nowrap
        hide-scrollbar
        mb-3
      "
      style="max-height: 180px"
    >
      <p class="text-smaller">
        {{ announcementDescription }}
      </p>
    </div>
  </div>
</div>
