<div class="container border-rounded background-color-light-gray m-3 ms-0">
  <div class="row">
    <h6 class="text-bold mt-3 text-small">
      {{ announcement.section.course.name }}
    </h6>
    <p class="text-bold mb-0">{{ announcement.title }}</p>
    <p class="text-smaller mt-0 mb-3">{{ announcement.date }}</p>
    <div
      class="
        row
        scrolling-wrapper-vertical
        flex-column flex-nowrap
        hide-scrollbar
        mb-3
      "
      style="max-height: 180px"
    >
      <p class="text-smaller">
        {{ announcement.description }}
      </p>
    </div>
  </div>
</div>
