.content-icon {
  font-size: 40px;
  color: rgb(255, 55, 105);
}

.cursor-pointer {
  cursor: pointer;
}

.click-effect:active {
  overflow-x: unset;
  box-shadow: 1 1px #666;
  transform: translateY(4px);
}
