.content-icon {
  font-size: 40px;
  color: rgb(81, 159, 255);
  /* rgb(81,159,255) */
}

.cursor-pointer {
  cursor: pointer;
}

.click-effect:active {
  overflow-x: unset;
  box-shadow: 1 1px #666;
  transform: translateY(4px);
}

.delete-icon {
  position: absolute;
  right: 30%;
  font-size: 24px;
  color: #666;
}
