<div class="container">
  <div class="row bg-white m-3 p-3 border-rounded">
    <div class="col"><h4 class="text-bold">Courses</h4></div>

    <div class="col float-right text-right">
      <div class="dropdown show">
        <a
          class="btn dropdown-toggle btn-link-custom"
          role="button"
          id="dropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Spring 2021
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item">Spring 2020</a>
          <a class="dropdown-item">Spring 2022</a>
          <a class="dropdown-item">Something else here</a>
        </div>
      </div>
    </div>

    <div class="row pb-4 pt-2">
      <div class="col-4 mb-3"><app-course-card></app-course-card></div>
      <div class="col-4 mb-3"><app-course-card></app-course-card></div>
      <div class="col-4 mb-3"><app-course-card></app-course-card></div>
      <div class="col-4 mb-3"><app-course-card></app-course-card></div>
      <div class="col-4 mb-3"><app-course-card></app-course-card></div>
      <div class="col-4 mb-3"><app-course-card></app-course-card></div>
    </div>
  </div>
</div>
