<div class="container-fluid rounded-3 p-3">
  <div class="row">
    <div class="col-sm-4 mb-3 ms-3">
      <button
        class="btn btn-outline-secondary float-start"
        type="button"
        (click)="onClickAddNewStudent()"
      >
        Add New Student
      </button>
    </div>
    <div
      class="
        row
        p-3
        scrolling-wrapper-vertical
        flex-column flex-nowrap
        pb-4
        pt-2
        hide-scrollbar
      "
      style="height: 300px"
    >
      <app-student-list-item
        (click)="onClickStudent()"
        class="cursor-pointer"
      ></app-student-list-item>
      <app-student-list-item
        (click)="onClickStudent()"
        class="cursor-pointer"
      ></app-student-list-item>
      <app-student-list-item
        (click)="onClickStudent()"
        class="cursor-pointer"
      ></app-student-list-item>
      <app-student-list-item
        (click)="onClickStudent()"
        class="cursor-pointer"
      ></app-student-list-item>
      <app-student-list-item
        (click)="onClickStudent()"
        class="cursor-pointer"
      ></app-student-list-item>
      <app-student-list-item
        (click)="onClickStudent()"
        class="cursor-pointer"
      ></app-student-list-item>
      <app-student-list-item></app-student-list-item>
      <app-student-list-item></app-student-list-item>
      <app-student-list-item></app-student-list-item>
      <app-student-list-item></app-student-list-item>
      <app-student-list-item></app-student-list-item>
      <app-student-list-item></app-student-list-item>
    </div>
  </div>

  <app-student-grades #studentGradesModal [modalConfig]="modalConfig">
  </app-student-grades>
</div>
