<div class="container">
  <div class="row bg-white m-3 p-3 border-rounded">
    <div class="col">
      <h4 class="text-bold">Assignments</h4>
    </div>
    <div class="row pb-4 pt-2">
      <app-assignment-list-item></app-assignment-list-item>
      <app-assignment-list-item></app-assignment-list-item>
      <app-assignment-list-item></app-assignment-list-item>
      <app-assignment-list-item></app-assignment-list-item>
      <app-assignment-list-item></app-assignment-list-item>
      <app-assignment-list-item></app-assignment-list-item>
      <app-assignment-list-item></app-assignment-list-item>
      <app-assignment-list-item></app-assignment-list-item>
      <app-assignment-list-item></app-assignment-list-item>
      <app-assignment-list-item></app-assignment-list-item>
      <app-assignment-list-item></app-assignment-list-item>
      <app-assignment-list-item></app-assignment-list-item>
      <app-assignment-list-item></app-assignment-list-item>
    </div>
  </div>
</div>
