<div class="row cursor-pointer" (click)="onClickCourseCard()">
  <div class="col">
    <div class="card border-rounded shadow">
      <div
        class="card-img-top bg-course-primary border-top-rounded"
        style="height: 35px"
      ></div>
      <div class="card-body">
        <label class="card-course-text-small mb-0">
          <i class="material-icons icon-grey card-course-icon mr-2">group</i>
          {{ courseParticipantsNumber }}
        </label>
        <p class="card-course-text text-bold mb-0">
          {{ courseCode }}
        </p>
        <p class="card-course-text text-bold mb-1">
          {{ courseName }}
        </p>
        <label class="card-course-text-small">
          <i class="material-icons icon-grey card-course-icon mr-2"
            >query_builder</i
          >
          {{ courseWeeklySchedule }}
        </label>
      </div>
    </div>
  </div>
</div>
