.list-item-text {
  font-size: small;
  color: gray;
}

.list-item-text-small {
  font-size: small;
  color: gray;
}

.list-item-text-smaller {
  font-size: 12px;
  color: gray;
}
.Graded {
  color: rgb(20, 179, 41);
}

.Submitted {
  color: rgb(255, 202, 28);
}

.text-size-small {
  font-size: small;
}

.center-elements {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-coloring {
  background: linear-gradient(
    to right,
    rgb(81, 159, 255) 5px,
    rgb(241, 241, 241) 5px,
    rgb(241, 241, 241) 100%
  );
}

.cursor-pointer {
  cursor: pointer;
}

.hover-effect:hover {
  background-color: rgb(236, 233, 233);
}

.manual-border-radius {
  border-radius: 8px;
}
