<div
  class="
    row
    manual-border-radius
    background-color-light-gray
    mt-3
    left-coloring
    cursor-pointer
  "
  style="height: 40px"
  (click)="onClickStudentGradeListItem()"
>
  <div class="col center-elements ml-3">
    <p class="text-bold text-size-small m-0">{{ assignment.name }}</p>
  </div>
  <div class="col center-elements">
    <p class="list-item-text text-bold m-0">{{ assignment.type }}</p>
  </div>
  <div class="col center-elements">
    <p class="list-item-text text-bold m-0">
      {{ submissionGrade }} / {{ assignment.maxGrade }}
    </p>
  </div>
  <div class="col center-elements">
    <p class="list-item-text-smaller text-bold m-0">
      {{ submission.date }}
    </p>
  </div>
  <div class="col center-elements">
    <p class="list-item-text text-bold m-0" [ngClass]="submissionStatus">
      {{ submissionStatus }}
    </p>
  </div>
</div>
