<div
  class="
    row
    manual-border-radius
    background-color-light-gray
    mt-3
    left-coloring
    cursor-pointer
    center-elements
  "
  style="min-height: 50px"
  (click)="onClickListItem()"
>
  <div class="col center-elements ml-3 text-center">
    <p class="text-bold text-size-small m-0">
      {{ assignment.name }}
    </p>
  </div>
  <div class="col center-elements">
    <p class="list-item-text text-bold m-0">{{ assignment.type }}</p>
  </div>
  <div class="col center-elements">
    <p class="list-item-text text-bold m-0">
      Max Grade: {{ assignment.maxGrade }}
    </p>
  </div>
  <div class="col center-elements">
    <p class="list-item-text text-bold m-0">
      {{ assignment.endDate }} {{ assignment.endTime }}
    </p>
  </div>
  <div class="col center-elements">
    <p
      class="list-item-text text-bold m-0 center-elements center-elements"
      [ngClass]="assignment.isActive ? 'open' : 'closed'"
    >
      {{ assignmentStatus }}
    </p>
  </div>
  <div class="col center-elements" *ngIf="userType == 'instructor'">
    <span
      class="material-icons cursor-pointer edit-color"
      (click)="onClickEditAssignment()"
      >edit</span
    >
    <span
      class="material-icons cursor-pointer ms-2 delete-color"
      (click)="onClickDeleteAssignment()"
      >delete</span
    >
  </div>
  <app-assignment-details
    #Modal
    [modalConfig]="modalConfig"
    [assignment]="assignment"
  ></app-assignment-details>
</div>
