<div class="container" *ngIf="userType == 'student'">
  <div class="row bg-white m-3 p-3 border-rounded">
    <div class="col">
      <h4 class="text-bold">Announcements</h4>
    </div>

    <div
      class="
        row
        scrolling-wrapper-vertical
        flex-column flex-nowrap
        pb-4
        pt-2
        hide-scrollbar
      "
      style="height: 500px"
    >
      <app-announcement-list-item
        *ngFor="let announcement of announcements"
        [announcement]="announcement"
      ></app-announcement-list-item>
      <h6 *ngIf="announcements.length == 0">No announcements posted yet.</h6>
    </div>
  </div>
</div>
