<div class="container-fluid bg-white rounded-3">
  <div
    class="
      row
      scrolling-wrapper-vertical
      flex-column flex-nowrap
      pb-4
      pt-2
      hide-scrollbar
    "
    style="height: 270px"
  >
    <app-assignment-list-item></app-assignment-list-item>
    <app-assignment-list-item></app-assignment-list-item>
    <app-assignment-list-item></app-assignment-list-item>
    <app-assignment-list-item></app-assignment-list-item>
    <app-assignment-list-item></app-assignment-list-item
    ><app-assignment-list-item></app-assignment-list-item
    ><app-assignment-list-item></app-assignment-list-item>
  </div>
</div>

<app-assignment-create-new #modal [modalConfig]="modalConfig">
</app-assignment-create-new>
