.scrolling-wrapper-horizontal {
  overflow-x: auto;
}

.scrolling-wrapper-vertical {
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.center-elements {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button {
  color: grey;
  cursor: pointer;
}

.larger {
  font-size: xx-large;
}

.color-red {
  color: white;
  background-color: rgb(81, 159, 255);
  border-color: rgb(81, 159, 255);
}
