<ng-template #studentGradesModal>
  <div class="modal-header">
    <div class="row">
      <div class="col">
        <p class="course-code mb-0">{{ student.fullName }}</p>
        <label class="card-course-text-small">
          {{ student.email }}
        </label>
      </div>
    </div>
  </div>
  <div class="modal-body p-3 m-3">
    <app-student-grade-list-item
      *ngFor="let submission of studentSubmissions"
      (click)="onClickGradeListItem()"
      [submission]="submission"
    ></app-student-grade-list-item>
    <h6 *ngIf="studentSubmissions.length == 0">No submissions yet.</h6>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="close()"
      *ngIf="
        modalConfig.hideCloseButton === undefined ||
        !modalConfig.hideCloseButton()
      "
      [disabled]="
        modalConfig.disableCloseButton !== undefined &&
        modalConfig.disableCloseButton()
      "
    >
      {{ modalConfig.closeButtonLabel }}
    </button>
  </div>
  <app-student-grades #Modal [modalConfig]="modalConfig"> </app-student-grades>
</ng-template>

<app-student-submission
  #studentSubmissionModal
  [modalConfig]="studentSubmissionModalConfig"
></app-student-submission>
