.bg-course-primary {
  background-color: rgb(81, 159, 255);
}

.white {
  color: white;
}

.course-code {
  font-weight: bold;
  font-size: large;
}

.course-title {
  font-weight: bold;
  font-size: x-large;
}

.card-course-text-small {
  font-size: smaller;
  color: gray;
  display: inline-flex;
  align-items: center;
}

.card-course-icon {
  font-size: medium;
}

.hover {
  cursor: pointer;
}
