<ng-template #modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ modalConfig.modalTitle }}</h5>
  </div>
  <div class="modal-body">
    <form (submit)="create()" #loginForm="ngForm">
      <div class="form-group">
        <label for="typeOfAssignment">Type:</label>
        <select
          class="form-control"
          id="typeOfAssignment"
          name="typeOfAssignment"
          ngModel
          [(ngModel)]="typeInput"
        >
          <option ngValue="assignment">Assignment</option>
          <option ngValue="quiz">Quiz</option>
          <option ngValue="exam">Exam</option>
        </select>
        <span class="text-danger span-error-message" *ngIf="!typeValid">
          Please choose a type</span
        >
      </div>
      <div class="form-group">
        <label for="validationTitle">Title:</label>
        <input
          type="text"
          name="title"
          id="validationTitle"
          ngModel
          placeholder="Title"
          minlength="8"
          required
          class="form-control"
          [(ngModel)]="titleInput"
        />
        <span class="text-danger span-error-message" *ngIf="!titleValid">
          Please enter a valid Assignment Title (minimum lenth: 4)</span
        >
      </div>
      <div class="form-group mb-4">
        <label for="description">Description:</label>
        <textarea
          type="text"
          name="description"
          id="description"
          ngModel
          placeholder="Description"
          [(ngModel)]="descriptionInput"
          autocomplete="off"
          class="form-control"
          required
        ></textarea>
        <span class="text-danger span-error-message" *ngIf="!descriptionValid">
          Please enter a description</span
        >
      </div>

      <div class="form-group">
        <label for="maxgrade">Max Grade:</label>
        <input
          type="number"
          name="Max Grade"
          id="maxgrade"
          ngModel
          placeholder="Max Grade"
          [(ngModel)]="maxGradeInput"
          required
          class="form-control"
        />
        <span class="text-danger span-error-message" *ngIf="!maxGradeValid">
          Please enter a positive number</span
        >
      </div>
      <div class="form-group">
        <label for="percentage">Percentage:</label>
        <input
          type="number"
          name="Percentage"
          id="percentage"
          ngModel
          placeholder="Percentage %"
          required
          class="form-control"
          (change)="onChangePercentage()"
          [(ngModel)]="percentageInput"
        />
        <span class="text-danger span-error-message" *ngIf="!percentageValid">
          Please enter a valid percentage</span
        >
      </div>
      <div class="form-group row">
        <div class="col">
          <label for="startDate">Start Date:</label>
          <input
            class="form-control"
            type="date"
            [min]="today"
            id="startDate"
            name="startDate"
            ngModel
            [(ngModel)]="startDateInput"
          />
        </div>
        <span class="text-danger span-error-message" *ngIf="!startDateValid">
          Please choose a valid date</span
        >
      </div>
      <div class="form-group row">
        <div class="col">
          <label for="startTime">Start Time:</label>
          <input
            class="form-control"
            type="time"
            id="startTime"
            name="startTime"
            ngModel
            [(ngModel)]="startTimeInput"
          />
        </div>
        <span class="text-danger span-error-message" *ngIf="!startTimeValid">
          Please choose a valid time</span
        >
      </div>
      <div class="form-group row">
        <div class="col">
          <label for="endDate">End Date:</label>
          <input
            class="form-control"
            type="date"
            [min]="today"
            id="endDate"
            name="endDate"
            ngModel
            [(ngModel)]="endDateInput"
          />
        </div>
        <span class="text-danger span-error-message" *ngIf="!endDateValid">
          Please choose a valid date</span
        >
      </div>
      <div class="form-group row">
        <div class="col">
          <label for="endTime">End Time:</label>
          <input
            class="form-control"
            type="time"
            id="endTime"
            name="endTime"
            ngModel
            [(ngModel)]="endTimeInput"
          />
        </div>
        <span class="text-danger span-error-message" *ngIf="!endTimeValid">
          Please choose a valid time</span
        >
      </div>
      <div class="form-group row">
        <div class="col-12 ps-5">
          <input
            class="form-check-input"
            type="checkbox"
            name="lateSubmissions"
            id="flexRadioDefault1"
            ngModel
            [(ngModel)]="allowLateSubmissions"
          />
          <label class="form-check-label" for="flexRadioDefault1">
            Allow Late Submissions
          </label>
        </div>
        <div class="col-12 ps-5">
          <input
            class="form-check-input"
            type="checkbox"
            name="multipleSubmissions"
            id="flexRadioDefault2"
            ngModel
            [(ngModel)]="allowMultipleSubmissions"
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Allow Multiple Submissions
          </label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label for="formFileMultiple" class="form-label">Add File(s):</label>
          <input
            class="form-control"
            type="file"
            id="formFileMultiple"
            name="formFileMultiple"
            (change)="handleFileInput($event.target.files)"
            multiple
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="close()"
      *ngIf="
        modalConfig.hideCloseButton === undefined ||
        !modalConfig.hideCloseButton()
      "
      [disabled]="
        modalConfig.disableCloseButton !== undefined &&
        modalConfig.disableCloseButton()
      "
    >
      {{ modalConfig.closeButtonLabel }}
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="create()"
      *ngIf="
        modalConfig.hideCreateButton === undefined ||
        !modalConfig.hideCreateButton()
      "
      [disabled]="
        modalConfig.disableCreateButton !== undefined &&
        modalConfig.disableCreateButton()
      "
    >
      {{ createEditButtonLabel }}
    </button>
  </div>
</ng-template>
