<ng-template #modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ modalConfig.modalTitle }}</h5>
  </div>
  <div class="modal-body">
    <form (submit)="create()" #loginForm="ngForm">
      <div class="form-group">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Assignment</option>
          <option>Quiz</option>
          <option>Exam</option>
        </select>
      </div>
      <div class="form-group">
        <input
          type="text"
          name="title"
          id="validationTitle"
          ngModel
          placeholder="Title"
          minlength="8"
          #emailInput="ngModel"
          required
          class="form-control"
        />
        <span class="text-danger span-error-message" *ngIf="true">
          Please enter a valid Assignment Title</span
        >
      </div>
      <div class="form-group mb-4">
        <textarea
          type="text"
          name="description"
          ngModel
          placeholder="Description"
          #descriptionInput="ngModel"
          autocomplete="off"
          class="form-control"
          required
        ></textarea>
        <span class="text-danger span-error-message" *ngIf="true">
          Password is incorrect</span
        >
      </div>

      <div class="form-group">
        <input
          type="number"
          name="Max Grade"
          id="maxgrade"
          ngModel
          placeholder="Max Grade"
          #maxGradeInput="ngModel"
          required
          class="form-control"
        />
        <span class="text-danger span-error-message" *ngIf="true">
          Please enter a number</span
        >
      </div>
      <div class="form-group row">
        <div class="col">
          <label for="startDate">Start Date:</label>
          <input class="form-control" type="date" id="startDate" />
        </div>
        <span class="text-danger span-error-message" *ngIf="true">
          Please choose a valid date</span
        >
      </div>
      <div class="form-group row">
        <div class="col">
          <label for="startTime">Start Time:</label>
          <input class="form-control" type="time" id="startTime" />
        </div>
        <span class="text-danger span-error-message" *ngIf="true">
          Please choose a valid time</span
        >
      </div>
      <div class="form-group row">
        <div class="col">
          <label for="endDate">End Date:</label>
          <input class="form-control" type="date" id="endDate" />
        </div>
        <span class="text-danger span-error-message" *ngIf="true">
          Please choose a valid date</span
        >
      </div>
      <div class="form-group row">
        <div class="col">
          <label for="endTime">End Time:</label>
          <input class="form-control" type="time" id="endTime" />
        </div>
        <span class="text-danger span-error-message" *ngIf="true">
          Please choose a valid time</span
        >
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="close()"
      *ngIf="
        modalConfig.hideCloseButton === undefined ||
        !modalConfig.hideCloseButton()
      "
      [disabled]="
        modalConfig.disableCloseButton !== undefined &&
        modalConfig.disableCloseButton()
      "
    >
      {{ modalConfig.closeButtonLabel }}
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="create()"
      *ngIf="
        modalConfig.hideCreateButton === undefined ||
        !modalConfig.hideCreateButton()
      "
      [disabled]="
        modalConfig.disableCreateButton !== undefined &&
        modalConfig.disableCreateButton()
      "
    >
      {{ modalConfig.createButtonLabel }}
    </button>
  </div>
</ng-template>
