<ng-template #studentSubmissionModal>
  <div class="modal-header">
    <div class="row">
      <div class="col">
        <p class="course-code mb-0">{{ student.fullName }}</p>
        <label class="card-course-text-small">
          {{ student.email }}
        </label>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <p class="course-title mb-2">{{ assignment.name }}</p>
      <div class="col">
        <p class="card-course-text-small">
          <b>Due Date:</b> {{ assignment.endDate }} {{ assignment.endTime }}
        </p>
        <p class="card-course-text-small">
          <b>Submission Date:</b> {{ submission.date }}
        </p>
        <p class="card-course-text-small"><b>Type:</b> {{ assignment.type }}</p>
        <p class="card-course-text-small">
          <b>Max Grade:</b> {{ assignment.maxGrade }}
        </p>
        <p class="card-course-text-small">
          <b>Status:</b> {{ submissionStatus }}
        </p>
      </div>
      <div class="col">
        <p class="card-course-text-small text-bold">Files attached:</p>
        <ul class="list-file-style">
          <li *ngFor="let item of submission.files">
            <span class="file-item" (click)="onClickAttachedFile(item)">{{
              item.name
            }}</span>
          </li>
        </ul>
      </div>
    </div>

    <form>
      <div class="form-text align-items-center justify-content-center mt-4">
        <label
          class="form-text card-course-text-small text-bold"
          for="textSubmission"
          >Student Text Submission:
        </label>
        <p class="form-text card-course-text-small">
          {{ submission.textSubmission }}
        </p>
      </div>
      <div
        class="
          form-text
          align-items-center
          justify-content-center
          card-course-text-small
          mt-4
        "
      >
        <label class="form-text card-course-text-small text-bold" for="grade"
          >Enter Student's Grade:</label
        >
        <input
          type="number"
          class="form-text"
          id="grade"
          name="grade"
          min="0"
          [max]="assignment.maxGrade"
          (input)="onChangeGrade($event)"
          [(ngModel)]="gradeInput"
        />
        <span class="text-danger span-error-message" *ngIf="!gradeValid">
          Please enter a valid grade</span
        >
      </div>
      <div class="form-text align-items-center justify-content-center mt-4">
        <label class="form-text card-course-text-small text-bold" for="notes"
          >Instructor Comments:</label
        >
        <textarea
          class="form-text"
          id="comments"
          name="comments"
          rows="3"
          style="width: 80%"
          ngModel
          [(ngModel)]="commentsInput"
        ></textarea>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="close()"
      *ngIf="
        modalConfig.hideCloseButton === undefined ||
        !modalConfig.hideCloseButton()
      "
      [disabled]="
        modalConfig.disableCloseButton !== undefined &&
        modalConfig.disableCloseButton()
      "
    >
      {{ modalConfig.closeButtonLabel }}
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="save()"
      *ngIf="
        modalConfig.hideSaveButton === undefined ||
        !modalConfig.hideSaveButton()
      "
      [disabled]="
        modalConfig.disableSaveButton !== undefined &&
        modalConfig.disableSaveButton()
      "
    >
      {{ modalConfig.saveButtonLabel }}
    </button>
  </div>
</ng-template>
