<ng-template #studentSubmissionModal>
  <div class="modal-header">
    <div class="row">
      <div class="col">
        <p class="course-code mb-0">{{ student.name }}</p>
        <p class="course-title mb-0">{{ student.major }}</p>
        <label class="card-course-text-small">
          {{ student.email }}
        </label>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <p class="course-code mb-0">{{ assignment.title }}</p>
    <p class="card-course-text-small">Due Date: {{ assignment.dueDate }}</p>
    <p class="card-course-text-small">Type: {{ assignment.type }}</p>
    <p class="card-course-text-small">Max Grade: {{ assignment.maxGrade }}</p>
    <p class="card-course-text-small">Status: {{ assignment.status }}</p>
    <p class="card-course-text-small mt-2">Files attached:</p>
    <ul class="list-file-style">
      <li><a href="#">RabihJabr_Assignment1.pdf</a></li>
      <li><a href="#">RabihJabr_Assignment2.pdf</a></li>
      <li><a href="#">RabihJabr_Assignment3.pdf</a></li>
    </ul>
    <form>
      <div class="form-text align-items-center justify-content-center">
        <label class="form-text" for="grade">Enter Student's Grade:</label>
        <input type="number" class="form-text" id="grade" />
      </div>
      <div class="form-text align-items-center justify-content-center">
        <label class="form-text" for="notes">Instructor Notes:</label>
        <textarea class="form-text" id="notes" rows="3"></textarea>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="close()"
      *ngIf="
        modalConfig.hideCloseButton === undefined ||
        !modalConfig.hideCloseButton()
      "
      [disabled]="  
        modalConfig.disableCloseButton !== undefined &&
        modalConfig.disableCloseButton()
      "
    >
      {{ modalConfig.closeButtonLabel }}
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="save()"
      *ngIf="
        modalConfig.hideSaveButton === undefined ||
        !modalConfig.hideSaveButton()
      "
      [disabled]="
        modalConfig.disableSaveButton !== undefined &&
        modalConfig.disableSaveButton()
      "
    >
      {{ modalConfig.saveButtonLabel }}
    </button>
  </div>
</ng-template>
