<div class="row" *ngIf="currentCourse">
  <div class="col">
    <div class="card border-rounded shadow m-4">
      <div
        class="card-img-top bg-course-primary border-top-rounded"
        style="height: 55px"
      >
        <span
          class="material-icons m-3 white hover"
          (click)="onClickBackArrow()"
        >
          arrow_back
        </span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="course-code mb-0">
              {{ currentCourse.code }} - CRN: {{ currentSection.CRN }}
            </p>
            <p class="course-title mb-0">{{ currentCourse.name }}</p>
            <label class="card-course-text-small">
              <i class="material-icons icon-grey card-course-icon mr-2"
                >query_builder</i
              >
              {{ currentSection.schedule }}
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <nav class="navbar navbar-expand-sm navbar-light ml-0 pl-0">
              <a
                class="navbar-brand nav-title ml-0 hover"
                [ngClass]="{
                  'active-nav-item': activeNavItem == 'course-content'
                }"
                (click)="onClickNavItemCourseContent()"
                >Course Content</a
              >
              <a
                class="navbar-brand nav-title ml-3 hover"
                [ngClass]="{
                  'active-nav-item': activeNavItem == 'assignments'
                }"
                (click)="onClickNavItemAssignments()"
                >Assignments</a
              >
              <a
                class="navbar-brand nav-title ml-3 hover"
                [ngClass]="{
                  'active-nav-item': activeNavItem == 'announcements'
                }"
                (click)="onClickNavItemAnnouncements()"
                >Announcements</a
              >
              <a
                class="navbar-brand nav-title ml-3 hover"
                [ngClass]="{
                  'active-nav-item': activeNavItem == 'students'
                }"
                *ngIf="userType == 'instructor'"
                (click)="onClickNavItemStudents()"
                >Students</a
              >
            </nav>
          </div>
          <div
            class="col pe-5"
            *ngIf="
              (activeNavItem == 'assignments' ||
                activeNavItem == 'course-content' ||
                activeNavItem == 'announcements') &&
              userType == 'instructor'
            "
            ngbDropdown
          >
            <button
              class="
                btn btn-outline-secondary
                rounded-circle
                float-end
                p-0
                mt-3
                me-4
                mb-3
                center-elements
                color-red
              "
              type="button"
              (click)="onClickAdd()"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              <span class="material-icons larger">add</span>
              <div
                ngbDropdownMenu
                aria-labelledby="dropdownBasic1"
                *ngIf="activeNavItem == 'course-content'"
              >
                <button ngbDropdownItem (click)="onClickCreateFolder()">
                  Create Folder
                </button>
                <button ngbDropdownItem (click)="onClickUploadFile()">
                  Upload File
                </button>
              </div>
            </button>
          </div>
        </div>
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

<app-assignment-create-new #modal [modalConfig]="modalConfig">
</app-assignment-create-new>

<app-create-upload
  #createUploadModal
  [modalConfig]="createUploadModalConfig"
></app-create-upload>

<app-announcement-create-new
  #createAnnouncementModal
  [modalConfig]="createAnnouncementModalConfig"
></app-announcement-create-new>
