<div class="container background-color-gray h-100">
  <div class="row">
    <div class="col-md-8">
      <div class="container bg-white m-4 p-4 rounded-3">
        <div class="row p-0 m-0">
          <div class="col"><h4 class="text-bold">Courses</h4></div>
        </div>
        <div
          class="row scrolling-wrapper flex-row flex-nowrap mt-4 pb-4 pt-2 example"
        >
          <div class="col-5 m-2"><app-course-card></app-course-card></div>
          <div class="col-5 m-2"><app-course-card></app-course-card></div>
          <div class="col-5 m-2"><app-course-card></app-course-card></div>
        </div>
      </div>
    </div>
  </div>
</div>
