<div class="container background-color-gray h-100">
  <div class="row">
    <div class="col-md-8">
      <div class="container bg-white m-4 p-4 border-rounded">
        <div class="row p-0 m-0">
          <div class="col"><h4 class="text-bold">Courses</h4></div>
          <div class="col float-right text-right">
            <button class="btn btn-link-custom" (click)="onClickViewCourses()">
              <i class="material-icons label-icon mr-1">visibility</i
              ><span>view all</span>
            </button>
          </div>
        </div>
        <div
          class="row scrolling-wrapper-horizontal flex-row flex-nowrap pt-2 hide-scrollbar"
        >
          <div class="col-5 m-2"><app-course-card></app-course-card></div>
          <div class="col-5 m-2"><app-course-card></app-course-card></div>
          <div class="col-5 m-2"><app-course-card></app-course-card></div>
        </div>
      </div>
      <div class="container bg-white m-4 p-4 border-rounded">
        <div class="row p-0 m-0">
          <div class="col"><h4 class="text-bold">Assignments</h4></div>
          <div class="col float-right text-right">
            <button class="btn btn-link-custom">
              <i class="material-icons label-icon mr-1">visibility</i
              ><span>view all</span>
            </button>
          </div>
        </div>
        <div
          class="row scrolling-wrapper-vertical flex-column flex-nowrap pb-4 pt-2 hide-scrollbar"
          style="height: 300px"
        >
          <app-assignment-list-item></app-assignment-list-item>
          <app-assignment-list-item></app-assignment-list-item>
          <app-assignment-list-item></app-assignment-list-item>
          <app-assignment-list-item></app-assignment-list-item>
          <app-assignment-list-item></app-assignment-list-item
          ><app-assignment-list-item></app-assignment-list-item
          ><app-assignment-list-item></app-assignment-list-item>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container bg-white m-4 border-rounded">
        <div class="row pt-4 mt-4">
          <div class="col"><h5 class="text-bold">Announcements</h5></div>
        </div>
        <div
          class="row scrolling-wrapper-vertical flex-column flex-nowrap hide-scrollbar"
          style="max-height: 600px"
        >
          <app-announcement-list-item></app-announcement-list-item>
          <app-announcement-list-item></app-announcement-list-item>
          <app-announcement-list-item></app-announcement-list-item>
        </div>
      </div>
    </div>
  </div>
</div>
