@import "~bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon-grey {
  color: grey;
}

.text-bold {
  font-weight: bold;
}

.background-color-gray {
  background-color: rgb(236, 233, 233);
}

.border-rounded {
  border-radius: 16px;
}

.border-top-rounded {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}
