.fc .fc-button-primary:disabled {
  background-color: rgb(81, 159, 255) !important;
  background-color: rgb(81, 159, 255) !important;
  border-color: #2c3e50;
  border-color: #ffffff;
  color: #fff;
  color: #000;
}

.fc .fc-button-primary {
  background-color: rgb(81, 159, 255) !important;
}
