.bg-course-primary {
  background-color: rgb(255, 55, 105);
}

.white {
  color: white;
}

.course-code {
  font-weight: bold;
  font-size: large;
}

.course-title {
  font-weight: bold;
  font-size: x-large;
}

.card-course-text-small {
  font-size: medium;
  color: rgb(71, 71, 71);
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.card-course-icon {
  font-size: medium;
}

.hover {
  cursor: pointer;
}

.list-file-style {
  font-size: smaller;
  color: blue;
}

.center-elements {
  display: flex;
  align-items: center;
}

.bg-color {
  background-color: rgb(255, 55, 105);
}
