<ng-template #assignmentDetailsModal>
  <div class="modal-header p-0 border-top-rounded"></div>
  <div class="modal-body">
    <div class="row">
      <p class="course-title mb-2">{{ assignment.name }}</p>
      <div class="col">
        <p class="card-course-text-small">
          <b>Due Date:</b> {{ assignment.endDate }} {{ assignment.endTime }}
        </p>
        <p class="card-course-text-small"><b>Type:</b> {{ assignment.type }}</p>
        <p class="card-course-text-small">
          <b>Max Grade:</b> {{ assignment.maxGrade }}
        </p>
        <p class="card-course-text-small">
          <b>Active:</b> {{ assignment.isActive }}
        </p>
        <p class="card-course-text-small">
          <b>My Grade:</b> {{ submissionGrade }}
        </p>
      </div>
      <div class="col">
        <p class="card-course-text-small text-bold">Files attached:</p>
        <ul class="list-file-style">
          <li *ngFor="let item of assignment.files">
            <span class="file-item" (click)="onClickAttachedFile(item)">{{
              item.name
            }}</span>
          </li>
        </ul>
      </div>
    </div>

    <form>
      <div class="form-text align-items-center justify-content-center mt-4">
        <label
          class="form-text card-course-text-small text-bold"
          for="description"
          >Description:
        </label>
        <p
          class="card-course-text-small"
          id="description"
          rows="3"
          readonly
          style="width: 80%"
        >
          {{ assignment.description }}
        </p>
      </div>

      <div class="form-text align-items-center justify-content-center mt-4">
        <label
          class="form-text card-course-text-small text-bold"
          for="textSubmission"
          >Student Text Submission:</label
        >
        <textarea
          class="form-text form-control"
          id="textSubmission"
          name="textSubmission"
          rows="3"
          style="width: 80%"
          ngModel
          [(ngModel)]="textSubmissionInput"
        ></textarea>
      </div>
      <div class="form-group row mt-4">
        <div class="col-9">
          <label for="formFileMultiple" class="form-label text-bold"
            >Add File(s):</label
          >
          <input
            class="form-control"
            type="file"
            id="formFileMultiple"
            name="formFileMultiple"
            multiple
            (change)="handleFileInput($event.target.files)"
          />
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="close()"
      *ngIf="
        modalConfig.hideCloseButton === undefined ||
        !modalConfig.hideCloseButton()
      "
      [disabled]="
        modalConfig.disableCloseButton !== undefined &&
        modalConfig.disableCloseButton()
      "
    >
      {{ modalConfig.closeButtonLabel }}
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="submit()"
      *ngIf="
        modalConfig.hideSaveButton === undefined ||
        !modalConfig.hideSaveButton()
      "
      [disabled]="
        modalConfig.disableSaveButton !== undefined &&
        modalConfig.disableSaveButton()
      "
      [disabled]="submitDisabled"
    >
      Submit
    </button>
  </div>
</ng-template>
